spring:
  application:
    name: certificate-blockchain-api

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

server:
  port: 8080

blockchain:
  rpc-url: http://localhost:8548
  chain-id: 1337
  contract-address: ${BLOCKCHAIN_CONTRACT_ADDRESS}
  admin-private-key: ${BLOCKCHAIN_ADMIN_PRIVATE_KEY}
  issuer-name: "IUH"

logging:
  level:
    root: INFO
    com.certificate.blockchain: DEBUG
    org.web3j: DEBUG